<h1> <%= @task.title %> </h1>
<p><strong>Details</strong>: <%= @task.details %></p>
<p><strong>Completed</strong>: <%= @task.completed %></p>
<%= link_to "Update task", edit_task_path(@task) %>
<%= link_to 'Back to list of tasks', tasks_path %>
